.users-header{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100%;

}
h3{
    position: absolute;
    left: 50px;
}
.add{   
    position: absolute;
    right: 50px;
    width: 150px;
}
