.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.device-list {
    /* background-color: wheat; */
    flex-grow: 0.5;
    height: 100%;
}
.device-list ul{
    list-style: none;
}
.device-list span{
    color: black;
    font-size: larger;
    padding-left: 15px;
}

.header{
    height: 10%;
    /* border: 1px red solid; */
    display: flex;
    align-items: center;
    /* padding-left: 50px; */
    font-size: larger;
}