.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.device-list {
    background-color: indianred;
    flex-grow: 0.5;
    height: 100%;
}
.device-list ul{
    list-style: none;
}
.device-list span{
    color: black;
    font-size: larger;
    padding-left: 15px;
}

.device-add {
    background-color: khaki;
    height: 100%;
    flex-grow: 0.5;
}
