<app-devices-header class="header"></app-devices-header>
<div class="container">
    <div class="device-list">
        <ul *ngFor='let dev of devices'>
            <li><em>Serial</em>: <span> {{dev.getDeviceSerial()}}</span> </li>
            <li><em>description</em>: <span>{{dev.getDeviceDescription()}}</span></li>
            <li><em>type:</em> <span>{{dev.getDeviceType()}}</span> </li>
            <button routerLink='/devices/{{dev.id}}'>View/Edit</button>
            <button [disabled]='dev.assigned' (click)='deleteDevice(dev.id)'>delete</button>
            <span *ngIf='dev.assigned' style="color: red">cannot delete... device assigned to user</span>
        </ul>
    </div>
   
</div>