@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* *{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}  */
html,
body {
    height: 100vh;
    box-sizing: border-box;
}
body {
    background-image: url("./app/images/background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    margin: 0;
    font-family: "Poppins", sans-serif;
}


