.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}
.users-list {
    height: 100%;
    padding: 15px;
    width: 100%;
}
.list-item{
    height: 80px;
    width: 90%;
    position: relative;
    margin: 10px auto;
    list-style: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 5px 6px 15px -8px;
}
ul{
    padding: 0;
}
.left{

}
.right button{
    margin: 0 5px;
}
.blur{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: lightgray;
    opacity: .5;
    backdrop-filter: blur(7px);
    z-index: -1;
    border-radius: 25px;

}

.header{
    height: 10%;
    display: flex;
    align-items: center;
    font-size: larger;
}