.devices-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;

}
.devices-header h3{
    margin-left: 50px;
}
.devices-header button{
    margin-right: 50px;
}

